* {
  text-decoration: none;
}
.profile {
  border-radius: 6px;
  width: 100%;
  display: inline-block;
}

.profile_name {
  line-height: 18px;
  padding: auto;
}
.profile_name .name {
  font-size: auto;
  font-weight: bold;
  padding-bottom: 10px;
}
.profile_name .title {
  font-size: 20px;
  color: #777;
}

.profile_image {
  margin-top: 40px;
  text-align: center;
}

.profile-container-shadow .btn1 {
  width: 100%;
  display: flex !important;
  justify-content: center;
  padding-top: -5px;
  margin-bottom: -5px;
}
.profile_name {
  background-color: #0bbda5;
  width: auto;
  border-radius: 2px;
  text-align: center;
}
.PersonIcon {
  color: white;
}
.butona {
  text-decoration: none;
}
