.timelineself {
  padding: 0 im !important;
}
.timelineself .timeline_header {
  padding-top: 7px;
}

.timelineself .timeline_firstitem {
  min-height: 0px !important;
}
.timelineself .timeline_firstitem1 {
  min-height: 50px !important;
}

.timelineself .MuiTimelineConnector-root {
  min-height: 0px;
}
.timelineself .MuiTimelineItem-missingOppositeContent::before {
  display: none;
}
.timelineself .timeline_dot_header {
  color: black !important;
  background-color: #05a18d !important;
  font-size: small !important;
  padding: 10px !important;
}
/*Remainig items*/
.timelineself .timeline_dot_footer {
  color: black !important;
  border-color: #05a18d !important;
  padding: 2px !important;
}
.timelineself .MuiTimelineConnector-root {
  background-color: #eee;
}
.timelineself .timeline_dot_header > .MuiSvgIcon-root {
  font-size: 20px;
  color: darkslategray;
}
.timelineself .seperater_padding {
  padding-left: 18px !important;
}
.timelineself .timeline_content {
  padding-top: 0px !important;
  margin-top: 20px;
}
.MuiTimelineConnector-root {
  padding-top: 0px !important;
  min-height: 0px;
}

.profile_information {
  display: flex !important;
  justify-content: center;
}

.sp1 {
  color: black;
  font-size: 13.5px;
  font-weight: 200;
  font-family: monospace;
}

.sp2 {
  font-weight: 400 !important;
  font-size: 13.5px;
  color: #787878;
  line-height: 24px !important;
  text-decoration: none;
}
.work {
  font-weight: 800;
  font-size: 80px;
}
